html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: black;
    font-family: 'Lato', sans-serif;
    background: rgb(5, 240, 241);
    background: linear-gradient(128deg, rgba(5, 240, 241, 0.9864320728291317) 12%, rgba(241, 255, 2, 1) 94%);
    background-attachment: fixed;
}

.navigation {}

.navigation__item {
    display: block;
    margin: 0 16px;
}

.navigation__list {
    list-style: none;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

.navigation__link {
    font-size: 20px;
}

.header__title {
    color: #DE3C4B;
    font-size: 45px;
}

.about__header, .diary__header {
    color: #2541B2;
    font-size: 30px;
}

.diary__heading {
    color: #2541B2;
    font-size: 22px;
}

.diary__paragraph {
    font-size: 16px;
}

.footer {
    width: 100%;
    font-size: 12px;
    margin: 20px auto;
    text-align: justify;
}

.main {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    padding-top: 50px;
}

.footer__top {
    font-size: 18px;
    position: fixed;
    bottom: 10px;
    right: 15px;
    color: #2541B2;
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-areas: " header header" "content content" "content content";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

.grid__header {
    grid-area: header;
    color: #2541B2;
    font-size: 30px;
    text-align: center;
}