body {
    background-color: white;
    color: black;
    font-family: 'Lato', sans-serif;
}

.navigation {


}
li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}

}
.navigation__link {
    font-size: 20px;
}

.header__title {
    color: #DE3C4B;
    font-size: 45px;
}

.about__header {
    color: #09BC8A;
    font-size: 30px;
}

.diary__header {
    color: #09BC8A;
    font-size: 30px;
}

.diary__heading {
    color: #2541B2;
    font-size: 22px;
}
.diary__paragraph {
    font-size: 16px;
}

.footer {
    width: 100%;
    max-width: 700px;
    font-size: 12px;
    margin: 20px auto;

}

.main {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    padding-top: 50px;S
    display: block;
}

.footer__top {
    font-size:18px;
    position: fixed;
    bottom: 10px;
    right: 15px;
    color: #2541B2;
    text-decoration: none;
}