body {
    background-color: white;
    color: black;
    font-family: 'Lato', sans-serif;
}
header {
    font-size: 20px;
}
.mainHeader {
    color: #DE3C4B;
    font-size: 45px;
}

.sectionHeader {
    color: #09BC8A;
    font-size: 30px;
}

.subHeader {
    color: #2541B2;
    font-size: 22px;
}
p {
    font-size: 16px;
}

.footer {
    width: 100%;
    max-width: 700px;
    font-size: 12px;
    margin: 20px auto;

}

.main {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    display: block;
}

.top {
    position: fixed;
    bottom: 10px;
    right: 15px;
}