body {
    background-color: white;
    color: black;
    font-family: 'Lato', sans-serif;
}
header {
    font-size: 20px;
}
.mainHeader {
    color: #DE3C4B;
    font-size: 55px;
}

.sectionHeader {
    color: #09BC8A;
    font-size: 30px;
}

.subHeader {
    color: #2541B2;
    font-size: 22px;
}
p {
    font-size: 16px;
}